<div class="panel panel-primary" *ngIf='product'>
  <div class="panel-heading">
    {{pageTitle + ': ' + product.productName}} 
  </div>
  <div class="panel-footer">
    <div class="row">
        <div class="col-sm-5">
          <img src="{{product.imageUrl}}" alt="{{product.productName}}">
        </div>
        <div class="col-sm-7">
          <ul class="list-group">
            <li class="list-group-item"><b>Name:</b> {{ product.productName }}</li>
            <li class="list-group-item"><b>Code:</b> {{ product.productCode }}</li>
            <li class="list-group-item"><b>Description:</b> {{ product.description }}</li>
            <li class="list-group-item"><b>Price:</b> {{ product.price | currency:'USD':true:'1.2-2'}}</li>
          </ul>
        </div>
    </div>
    <a class="btn btn-default" (click)='onBack()' style="width:80px">
      <i class="glyphicon glyphicon-chevron-left"></i> Back
    </a>
  </div>
</div>